html, *, body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  background-size: 100%;
}

header {
  background-color: #1F2937;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-flow: column wrap;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
  margin-top: 75px;
  margin-right: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 25px;
}

h3 {
  font-size: 35px;
}

nav img.logo {
  height: 200px;
  width: 186px;
  padding: 10px;
  margin-left: 50px;
}

nav ul li {
  font-size: 25px;
}

.header-flex {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding-bottom: 175px;
  flex-flow: row wrap;
}

header img.ohama {
  height: 350px;
  width: 660px;
  max-width: 100%;
  flex-grow: 0 1 auto;
}

.content {
  max-width: 800px;
  flex-grow: 1;
}
.content h1 {
  font-size: 100px;
  color: #F9FAF8;
  font-weight: 900;
}

.smaller {
  font-size: 60px;
  color: #E5E7EB;
}

main h2 .smaller {
  color: #1F2937;
}

.shorter-lines {
  line-height: 0.75;
  margin-top: 15px;
}

.content p {
  color: #E5E7EB;
}

.content button {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 15px;
  text-decoration: none;
  border: none;
  font-weight: 900;
  margin-top: 20px;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 75px;
  margin-bottom: 150px;
  text-align: center;
}

main h2 {
  font-size: 55px;
  padding: 5px 0px 50px 0px;
}

h2 .smaller {
  font-size: 45px;
}

main .box-flex {
  display: flex;
  width: 100%;
  gap: 75px;
  justify-content: center;
  flex-flow: row wrap;
}

.blue-box {
  border: 5px solid #0100BA;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.box {
 display: flex;
 flex-flow: column;
 align-items: center;
}

.box-flex .box p {
  max-width: 300px;
  text-align: center;
  padding: 15px;
}

.blue-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.gray-border {
  display: flex;
  align-items: center;
  background-color: #E5E7EB;
  padding: 100px 0px;
  flex-flow: column nowrap;
}

.gray-border q {
  color: #1F2937;
  font-size: 60px;
  max-width: 2000px;
  padding: 50px;
}

.gray-border cite {
  color: #1F2937;
  font-weight: 100;
  font-size: 40px;
}

.gray-border p {
  color: #1F2937;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

.white-border {
  background-color: white;
  padding: 100px 0px;
}

.access-section {
  display: flex;
  padding: 100px;
  background-color: #1F2937;
  color: white;
}

.access-section .access-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.access-info h3, .access-info p {
  padding: 15px;
}

.access-info p {
  max-width: 2000px;
}

.access-info a{
  text-decoration: underline;
}

.access-info .access-img-flex {
  display: flex;
  justify-content: center;
}

.access-img-flex img {
  width: 30%;
  height: auto;
  padding: 10px;
}

.learn-more {
  background-color: white;
  padding: 150px;
}

.learn-more .call-to-action {
  background-color: #3882F6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 10px;
  padding: 75px 100px;
  min-width: 250px;
}

.learn-more .call-to-action .cta-content {
  color: white;
}

.cta-content h3 {
  font-weight: 900;
}

.cta-content p {
  font-size: 25px;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.learn-more button {
  padding: 15px 30px;
  font-size: 25px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid white;
  font-weight: 900;
  max-height: 100px;
  flex: 0 1 auto;
  margin-right: 100px;
}

div.top-button-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 50px;
}

button.top-button {
  padding: 15px 30px;
  font-size: 25px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid white;
  font-weight: 300;
}

footer {
  display: flex;
  background-color: #25232C;
  color: white;
  padding: 50px;
  align-items: center;
  flex-flow: column nowrap;
}
